@import url('https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet');

div { 
  text-align: center; 
}

body {
  font-family: 'Merriweather';
  background-color: white;
  color: black;
  background-image: url(https://www.ebay.com/itm/5-0-Yds-Awesome-LIGHT-ICY-BLUE-Light-Weight-Crisp-TAFFETA-Fabric-58-Wide-/321965710950);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
    
}

