@import url('https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet');

div { 
  text-align: center; 
}

body {
  font-family: 'Merriweather';
  color: black;
  background-image: url("https://st.depositphotos.com/1000733/1667/i/950/depositphotos_16671047-stock-photo-grungy-newsprint.jpg");
 
  
    
}

